@import url(//db.onlinewebfonts.com/c/3a98c83f1e41bd6709a6d0d1654dc28b?family=Fudd);

:root {
    --color1: #3451af;
    --color2: #acacac;
    --entry-bg: #ededed;
}

.pokemon-grid {
    font-family: 'Fudd';
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    background: linear-gradient(
        130deg, 
    #acacac 3%, 
    var(--color2) 3%, 
    var(--color2) 10%, 
    var(--color1) 10%, 
    var(--color1) 80%, 
    var(--color2) 80%,
    var(--color2) 97%,
    #acacac 97%
    );
}

.pokemon-image {
    width: 20rem;
    align-self: center;
}

.pokemon-info {
    margin-top: 1rem;
    margin-left: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 0;
}

.pokemon-species {
    justify-content: center;
    background: var(--entry-bg);
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
}