.pokemon-grid {
    margin: 2rem;
    background-color: red;
}

.pokemon-grid-top{
    background-color: orange;
}

.top {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.pokemon-name {
    height: min-content;
    width: min-content;
}

.img-fluid{ 
    width: 20rem;
}