.pokemon-table {
  padding-left: 0;
  padding-right: 0;
}

.pokedex-table-header {
  background: #dbdbd9;
  text-align: center;
}

.pokedex-table-data {
  background: #ffffff;
  text-align: left;
}

.pokedex-table-header,
.pokedex-table-data {
  border: 1px solid #d3d3d1;
}

.table.pokedex-table {
  margin-bottom: 0.2rem;
}
